{{define "about"}}
    {{template "header" .}}
    <!-- Content here -->
    <div>
        <img src="../static/image/logo.png" alt="utaaaShop" class="col-lg-2 col-md-3 col-sm-3"/>
        <p>Have a good day! Here is utaaa~~</p>
    </div>

    {{template "footer"}}
{{end}}