{{define "footer"}}

</div>
</main>

<footer>
    <div class="text-bg-primary py-2 text-center">
        <p>&copy;2025 <a href="https://github.com/utaaaaaaaaaa" class="text-reset">utaaa</a> </p>
    </div>
</footer>

<script src="../static/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
{{end}}